.jumbotron {
  padding: 20px 0px;
  height: 150px;
}
.media-object{
  max-width: 250px;
  max-height: 250px;
}

.media-body{
  text-align: justify;
  padding-left: 10px;
}

.addSeriesBtn {
  text-align: right;
}

.searchBar {
  margin: 30px;
}

.property {
  margin-bottom: 20px;
}

.propertyClass {
  padding-top: 25px;
  font-size: 17px;
}

